<div class="row">
  <div class="headerMenuIcons">
    <a title="Maps" (click)="redirectToMap($event)"> <i class="material-icons icon-white">location_on</i></a>&nbsp; &nbsp;
    <a title="Edit" id="editIcon" (click)="redirectToEditBuilding($event)"> <i class="material-icons icon-white">edit</i></a>
  </div>
  <div class="col-md-12 bottom-space" *ngIf="!isExpandable">
    <div class="section-heading"> <h5> <span> <i class="material-icons">image</i> </span>{{ 'siteShowCase.maps' | translate }}</h5> </div>
    <div class="card card-chart">
      <div class="card-body">
        <div class="map-wrapper">
          <ngb-carousel *ngIf="siteShowCaseList">
            <ng-template ngbSlide *ngFor="let event of siteShowCaseList">
              <img class="d-block w-100"  [src]="event.img" alt="Random slide" >
              <!--<div class="carousel-caption" style="z-index:200px;">
                <p [innerText]="event.eventDescription"></p>
              </div>-->
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </div>
  </div>
</div>
<div [ngClass]="isExpandable?'row':'row fixedfooter'">
  <div class="col-md-12">
    <app-monitoring-event [eventsData]="eventsData" (eventExpandableChanged)="eventExpandableChangedHandler($event)"></app-monitoring-event>
  </div>
</div>
