@media screen and (max-width: 767px) and (min-width: 320px) {
  .headerMenuIconsNone {
    display: none;
  }
}

@media screen and (max-width:1023px) and (min-width: 768px) {
  .headerMenuIconsNone {
    display: none;
  }
}


.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
  border: 1px solid #ccc;
  margin-top: -1px;
}

a.btn.btn-raised.btn-info.mat-raised-button {
  background: transparent;
  border: 0px;
  box-shadow: none;
  padding: 12px 12px;
}

  a.btn.btn-raised.btn-info.mat-raised-button:hover {
    background-color: #e91e63;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
  }

.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content:first-child {
}

.mat-button.btn, .mat-button.btn.btn-default, .mat-raised-button.btn, .mat-raised-button.btn.btn-default,
.mat-raised-button.btn:not([class*=mat-elevation-z]), .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-default, .btn, .btn.btn-default {
  background-color: #e91e63;
}

#map {
  margin-top:0;
}

agm-map {
  height: 100%;
}

:host /deep/ .gm-style-iw > button {
  display: none !important;
}
