.actionButtonCls {
  justify-content: center!important;
}

.dialog-btn {
  margin-bottom: 15px;
}
.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
  background-color: #015697;
}
.mat-option.mat-selected:not(.mat-option-multiple) {
  background-color: #015697 !important;
  color: #fff !important;
  box-shadow: 0px 3px 3px #000;
}

.mat-option:hover {
  background-color: #2d9aec !important;
}
