<h2 mat-dialog-title *ngIf='modalTitle'>{{modalTitle}}</h2>
<mat-dialog-content *ngIf='message'>{{message}}</mat-dialog-content>

<mat-dialog-content>
    <mat-form-field>
        <!-- <mat-label>Language</mat-label> -->
      <mat-select [(value)]="selectedLanguage" (selectionChange)="useLanguage($event.value)">
           <mat-option *ngFor="let languageType of languageTypes  " [value]="languageType">
          {{("enums.languages." + languageType ) | translate}}
        </mat-option>
      </mat-select>
    </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions class="actionButtonCls">
    <button mat-button class="mat-raised-button" mat-dialog-close>{{cancelValue}}</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-button class="mat-raised-button mat-primary" (click)="changeLanguage($event)" [mat-dialog-close]="true">{{okValue}}</button>
</mat-dialog-actions>
