<div class="row">
  <div class="headerMenuIcons">
    <a title="{{ 'building.edit' | translate }}" (click)="redirectToEditBuilding($event)"> <i class="material-icons icon-white">edit</i></a>
  </div>
  <div class="col-md-12 bottom-space" *ngIf="!isExpandable">
    <div class="section-heading">
      <h5> <span> <i class="material-icons"> maps </i> </span>{{ 'building.buildingViewMap' | translate }}</h5>
    </div>
    <div class="left-side-container">
      <div class="card card-chart responsive-card">
        <div class="map-wrapper">
          <div class="col-md-12">
            <ul class="building-nav">
              <li *ngIf="siteFromDashboard == 'yes'"> <a title="{{ 'building.goBackToSite' | translate }}" routerLink="/monitoring/dashboard"> <i class="material-icons">business </i></a> </li>
              <li *ngIf="siteFromDashboard != 'yes'"> <a title="{{ 'building.goBackToSite' | translate }}" routerLink="../"> <i class="material-icons">business </i></a> </li>
              <br />
              <li class="MoveArrow">
                <a [routerLink]="" [class.disabled]="isActiveLeftArrow" (click)="!isActiveLeftArrow && redirectToPrevious()"><i class="material-icons"> keyboard_arrow_left</i></a>
                <a [routerLink]="" [class.disabled]="isActiveRightArrow" (click)="!isActiveRightArrow && redirectToNext()"><i class="material-icons"> keyboard_arrow_right </i></a>
              </li>
            </ul>
            <h3 class="buildingName"><b>{{buildingTitle}}</b></h3>
          </div>
          <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-10 building_height">
              <div class="row" *ngFor="let buildingDetails of buildingData;let i = index; let l = last">
                <div class="building-details" [style.z-index]="numberOfFloors - i" [ngClass]="i?'floor_img_container':'m-t-20'">

                  <a [routerLink]="" *ngIf="buildingDetails.name"
                     (click)="onBuildingClick($event, siteId,buildingDetails.mapGuid,buildingDetails.mapId)"
                     class="floor-name">
                    {{buildingDetails.name}}
                    <img src="../assets/img/status/unknown.png" class="fish"
                         [style.top]="topx" [style.left]="lefty" style="height:75px;width:75px;" *ngIf="buildingDetails.statusData == mapItemStatus.unknown" />
                    <img src="../assets/img/status/offline.png" class="fish"
                         [style.top]="topx" [style.left]="lefty" style="height:75px;width:75px;" *ngIf="buildingDetails.statusData == mapItemStatus.offline" />
                    <img src="../assets/img/status/trouble.gif" class="fish"
                         [style.top]="topx" [style.left]="lefty" style="height:75px;width:75px;" *ngIf="buildingDetails.statusData == mapItemStatus.trouble" />
                    <img src="../assets/img/status/alarm.gif" class="fish"
                         [style.top]="topx" [style.left]="lefty" style="height:75px;width:75px;" *ngIf="buildingDetails.statusData == mapItemStatus.alarm" />
                  </a>
                  <!--<a title={{buildingDetails.name}} [routerLink]="" (click)="onBuildingClick($event, siteId,buildingDetails.mapGuid,buildingDetails.mapId)">-->
                    <!--<div [id]="i">
                      <img *ngIf="buildingDetails.imageUrl!=null" src="{{buildingDetails.imageUrl}}" class="img-responsive">
                    </div>-->
                    <div class="img-responsive" [id]="buildingDetails.name + '_' + i " [style.backgroundImage]="'url('+ buildingDetails.imageUrl +')'"></div>
                  <!--</a>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div [ngClass]="isExpandable?'row':'row fixedfooter'">
  <div class="col-md-12">
    <app-monitoring-event [eventsData]="eventsData" (eventExpandableChanged)="eventExpandableChangedHandler($event)">
    </app-monitoring-event>
  </div>
</div>
