.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td
{
  padding:5px 4px !important;

}
.table > tbody > tr {
  position: relative;
  font-size: 14px;
}

.pointer {
  cursor: pointer;
}


table>thead>tr>th{
  z-index:1;
}

@media screen and (max-width: 599px) and (min-width: 320px) {
  .responsive-menu {
    display: block;
    background: #ccc;
    width: 100%;
    text-align: center;
    margin: 0px auto;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: visible;
    height: 44px;
    white-space: nowrap;
  }

  .responsive-heading {
    display: block;
    width: 100%;
  }

  .responsive-heading h5 {
    background: #d4e6f4;
    font-size: 14px;
    font-weight: 500;
    padding: 2px 0px 2px 36px;
  }

  .content-wrapper {
    margin-top: 56px;
  }

  button.mat-button.active {
    color: #e91e63;
  }

  /*.section-heading {
    display: none;
  }*/

  .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 5px 4px !important;
    font-size: 12px;
  }
}


/******************Start CSS for showing div to overlay header for add/save/edit of map,building etc. ***********************************************************************************/

.headerMenuIcons {
  position: fixed;
  float: right;
  text-align: right;
  width: 30%;
  right: 0;
  top: 0;
  z-index: 999;
  color: #fff;
}

i.icon-white {
  color: white;
}

/******************End CSS for showing div to overlay header for add/save/edit of map,building etc. ***********************************************************************************/
