<div class="row">
  <div class="col-md-12 bottom-space" *ngIf="!isExpandable">
    <div class="left-side-container">
      <div class="card card-chart responsive-card">
        <div class="map-wrapper">

          <div *ngIf="floorData && floorStatusList">
            <h3 class="floorName"><b>{{floorData.title}} </b></h3>

            <div id="svgZoomDiv" data-zoom-on-wheel="zoom-amount: 0.001; max-scale: 20;overflow: hidden;"
                 data-pan-on-drag="button: left;">
              <svg #svgName xmlns:xlink="http://www.w3.org/1999/xlink" id="svgBuildingName" preserveAspectRatio="xMidYMid meet">
                <image attr.x="{{floorData.x}}" attr.y="{{floorData.y}}" attr.xlink:href="{{floorData.image}}" id="imgBackground" />

                <a *ngFor="let item of floorStatusList">
                  <!--Display Doors-->
                  <image width="40" height="40" attr.x="{{item.x}}" attr.y="{{item.y}}" xlink:href="../assets/img/door-icon/close-lock.png" *ngIf="item.statusData1 == 0 && item.statusData2 == 0 && item.type===mapItemType[mapItemType.AccessPoint]" />
                  <image width="40" height="40" attr.x="{{item.x}}" attr.y="{{item.y}}" xlink:href="../assets/img/door-icon/close-unlock.png" *ngIf="item.statusData1 == 0 && item.statusData2 == 1 && item.type===mapItemType[mapItemType.AccessPoint]" />
                  <image width="40" height="40" attr.x="{{item.x}}" attr.y="{{item.y}}" xlink:href="../assets/img/door-icon/open-lock.png" *ngIf="item.statusData1 == 1 && item.statusData2 == 0 && item.type===mapItemType[mapItemType.AccessPoint]" />
                  <image width="40" height="40" attr.x="{{item.x}}" attr.y="{{item.y}}" xlink:href="../assets/img/door-icon/open-unlock.png" *ngIf="item.statusData1 == 1 && item.statusData2 == 1 && item.type===mapItemType[mapItemType.AccessPoint]" />

                  <image width="40" height="40" attr.x="{{item.x}}" attr.y="{{item.y}}" xlink:href="../assets/img/edit-icons/Input.png" *ngIf="item.type===mapItemType[mapItemType.Input]" />
                  <image width="40" height="40" attr.x="{{item.x}}" attr.y="{{item.y}}" xlink:href="../assets/img/edit-icons/Camera.png" *ngIf="item.type===mapItemType[mapItemType.Camera]" />

                  <!--Display Alarm-->
                  <image width="100" height="100" attr.x="{{item.x-30}}" attr.y="{{item.y-25}}" xlink:href="../assets/img/status/alarm.gif" *ngIf="item.status != 1 && item.status==mapItemStatus.alarm" />
                  <image width="100" height="100" attr.x="{{item.x-30}}" attr.y="{{item.y-25}}" xlink:href="../assets/img/status/offline.png" *ngIf="item.status != 1 && item.status==mapItemStatus.offline" />
                  <image width="100" height="100" attr.x="{{item.x-30}}" attr.y="{{item.y-25}}" xlink:href="../assets/img/status/unknown.png" *ngIf="item.status != 1 && item.status==mapItemStatus.unknown" />
                  <image width="100" height="100" attr.x="{{item.x-30}}" attr.y="{{item.y-25}}" xlink:href="../assets/img/status/trouble.gif" *ngIf="item.status != 1 && item.status==mapItemStatus.trouble" />
                </a>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
