<a class="mat-menu-item" [routerLink]="['/site']">{{ 'monitoringHeader.sites' | translate }}</a>
<a class="mat-menu-item" [routerLink]="['/monitoring/site-map']">{{ 'monitoringHeader.maps' | translate }}</a>
<a mat-menu-item (contextmenu)="onRightClick($event)" (click)="openModal()">{{ 'monitoringHeader.language' | translate }}</a>
<a class="mat-menu-item" [routerLink]="['/monitoring/help']">{{ 'monitoringHeader.help' | translate }}</a>
<a class="mat-menu-item" (click)="logout()">{{ 'monitoringHeader.logout' | translate }}</a>
