


/*Navigation menu bar css*/
.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
}

.nav-outer-div {
  position: fixed;
  z-index: 304;
  width: 100%;
}

.navbar.bg-primary {
  background-color: #015697 !important;
  padding-bottom: 2px;
  padding-top: 2px;
}

.mat-icon {
  cursor: pointer;
}

.logo img {
  margin-top: -5px;
}

.language_icon {
  float: right;
  margin-top: 10px;
  font-size: 30px;
}

.hamburger_menu {
  float: left;
  margin-top: 10px;
  font-size: 30px;
}

.content-wrapper {
  width: 100%;
  float: left;
  top: 0px;
  margin-top: 60px;
}

.card1-color {
  background: #eecaca !important;
  box-shadow: 2px 2px 4px #999 !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.card2-color {
  background: #a1dce4 !important;
  box-shadow: 2px 2px 4px #999 !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.card3-color {
  background: #aff190 !important;
  box-shadow: 2px 2px 4px #999 !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.card-text .card-title {
  color: #222 !important;
}

.responsive-menu, .responsive-heading {
  display: none;
}

.left-wrapper {
  width: 15%;
}

.right-wrapper {
  width: 85%;
  padding-left: 30px;
  padding-right: 30px;/*margin:0px auto;*/
}

.right-wrapper-edit {
  width: 100%;
}
  a .username:hover {
  text-decoration: none;
}

.sidebar.user a {
  color: #fff;
  cursor: text !important;
}
.sidebar a {
  text-decoration: none;
  cursor: text;
}
  .sidebar.user a:hover {
    cursor: text;
  }

.navbar .navbar-wrapper {
  display: inherit;
  align-items: center;
}


.logo img {

  margin-left: 8px;
}


.navbar.bg-primary {
  background-color: #015697 !important;
  
  padding-top: 0px;
}
.left-side-container {
  width: 100%;
  float: left;
}

@media screen and (max-width: 599px) and (min-width: 320px) {
  .responsive-menu {
    display: block;
    background: #ccc;
    width: 100%;
    text-align: center;
    margin: -1px auto;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: visible;
    height: 40px !important;
    white-space: nowrap;
  }

  /*.responsive-heading {
    display: block;
    width: 100%;
  }*/

    .responsive-heading h5 {
      background: #d4e6f4;
      font-size: 14px;
      font-weight: 500;
      padding: 2px 0px 2px 20px;
    }

  .content-wrapper {
    margin-top: 56px;
  }

  button.mat-button.active {
    color: #e91e63;
  }
  .left-wrapper {
    display: none;
  }

  .right-wrapper {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .responsive-menu::-webkit-scrollbar{display:none;}


}

@media screen and (max-width: 767px) and (min-width: 600px) {

  .responsive-menu {
    display: block;
    background: #ccc;
    width: 100%;
    text-align: center;
    margin: -1px auto;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: visible;
    height: 40px !important;
    white-space: nowrap;
  }
  .left-wrapper {
    display: none;
  }

  .right-wrapper {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .responsive-heading h5 {
    background: #d4e6f4;
    font-size: 14px;
    font-weight: 500;
    padding: 2px 0px 2px 20px;
  }

  .content-wrapper {
    margin-top: 56px;
  }

  button.mat-button.active {
    color: #e91e63;
  }
 .responsive-menu::-webkit-scrollbar {
    display: none;
  }
}

  @media screen and (max-width: 1023px) and (min-width: 768px) {
    .responsive-menu {
      display: block;
      background: #ccc;
      width: 100%;
      text-align: left;
      margin: -1px auto;
      overflow: hidden;
      overflow-y: hidden;
      overflow-x: visible;
      height: 40px !important;
      white-space: nowrap;
    }

    .responsive-heading {
      display: none;
    }

      .responsive-heading h5 {
        background: #d4e6f4;
        font-size: 14px;
        font-weight: 500;
        padding: 2px 0px 2px 20px;
      }

    .content-wrapper {
      margin-top: 56px;
    }

    button.mat-button.active {
      color: #e91e63;
    }

    .left-wrapper {
      display: none;
    }

    .right-wrapper {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
    }

  }


  @media screen and (max-width: 1024px) and (min-width:1000px) {
    .left-wrapper {
      width: 20%;
    }

    .right-wrapper {
      width: 80%;
    }
  }

  @media screen and (max-width: 1500px) and (min-width: 1023px) {
    /*.left-wrapper {
width:15%  }

  .right-wrapper {
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left:100px;
  }*/


  }
