:host /deep/ .card {
  background: transparent !important;
  border: none;
  box-shadow: none;
}

.siteImg {
  position: relative;
  width: 100%;
  line-height: 0;
}
.headerMenuIcons {
  top: 10px;
  right: 25px;
  width: auto;
  cursor: pointer;
}
  .siteImg img {
    max-width: 100%;
  }

.overlayImg {
  width: auto;
  position: absolute;
}

.overlayImgsDiv {
  top: 0px;
  left: 0px;
}

.table-box {
  border-collapse: separate;
  border: 1px solid #b7c7cf;
  text-align: center;
  border-spacing: 0px 1px;
}
  
    .table-box thead > tr > th {
      background-color: #015697;
      color: white;
      border-bottom: 1px solid #d8e6ec;
    }
  
    .table-box tbody > tr {
      background-color: #cccccc;
    }
  
    .table-box tr th{
      height: 40px;
    }
  
  .table-box tr td{
    height: 30px;
  }

.card4-color {
  background: #7ac1f9 !important;
  box-shadow: 2px 2px 4px #999 !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

h4.card-title {
  color: #222 !important;
  font-size: 16px;
}

.map-wrapper {
  position: relative; left: 0; top: 0;
}

ul.building-nav {
  padding-left: 0px;
  float: left;
  margin-left: 70px;
  margin-top: 30px;
}

  ul.building-nav li {
    list-style: none;
  }

  ul.building-nav i.material-icons {
    width: 60px;
    height: 60px;
    font-size: 60px;
  }

.section-heading {
  width: 100%;
  float: left;
}

  .section-heading span {
    float: left;
    width: 30px;
  }

  .section-heading h5 {
    margin: 10px 0px 10px 0px;
  }
.bottom-space {
  margin-bottom: 220px;
}
.table-box {
  padding-bottom: 0px !important;
}
.fixedfooter {
  position: fixed;
  bottom: 0px;
  width: 85%;
  padding-right:30px;
  z-index: 999;
}


h5 {
  font-weight: bold;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .card.card-chart.responsive-card {
    margin: 0px 0px 12px 0px;
  }
  #editIcon {
    display: none;
  }
  /*.overlayImg{
    width: 25px;
  }*/
  .fixedfooter {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding-right: 0px;
  }
  .card {
    margin-top: 30px !important;
    float: left;
  }
}
@media screen and (max-width:1023px) and (min-width: 768px) {

  .fixedfooter {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding-right:0px;
  }
  #editIcon {
    display: none;
  }
}
@media screen and (max-width:1050px) and (min-width: 1024px) {
  #editIcon {
    display: none;
  }
  .fixedfooter {
    position: fixed;
    bottom: 0px;
    width: 80%;
    padding-right: 30px;
  }
}
