

  <div class="page-header login-page header-filter" filter-color="black"
       style="background-image: url('./assets/img/login.jpg'); background-size: cover; background-position: top center;">

    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 mid-container">
          <form class="form" name="form" (ngSubmit)="f.form.valid && onSubmitted()" #f="ngForm" novalidate>
            <div class="card card-login card-hidden">
              <div class="card-header card-header-rose text-center">
                <h4 class="card-title"><b>{{ 'login.title' | translate }}</b></h4>
                <div class="social-line" style="display:none;">
                  <a href="" class="btn btn-just-icon btn-link btn-white">
                    <i class="fa fa-facebook-square"></i>
                  </a>
                  <a href="" class="btn btn-just-icon btn-link btn-white">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="" class="btn btn-just-icon btn-link btn-white">
                    <i class="fa fa-google-plus"></i>
                  </a>
                </div>
              </div>
              <div class="card-body ">
                <p class="card-description text-center" style="display:none;">{{ 'login.OrLogin' | translate }}</p>
                <div *ngIf="isError" _ngcontent-oll-c5="" class="error-alert"> <b> <span _ngcontent-oll-c5="">{{errorMessage}} </span> </b> </div>
                <div class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">face</i>
                      </span>
                    </div>
                    <input matInput placeholder="{{ 'login.username' | translate }}" class="form-control" id="username" name="username"
                           required [(ngModel)]="data.username" #name="ngModel" />
                  </div>
                </div>
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input matInput placeholder="{{ 'login.password' | translate }}" type="password" class="form-control" id="password"
                           name="password" required [(ngModel)]="data.password" #name="ngModel" />
                  </div>
                </span>
              </div>
              <div class="card-footer justify-content-center">
                <button mat-raised-button class="btn btn-customblue mat-raised-button"
                        [disabled]="f.form.invalid">
                  <b>{{ 'login.title' | translate }}</b>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <footer class="footer ">
      <div class="container">
      </div>
    </footer>
  </div>



