
<h4 class="SystemStatus" *ngIf="systemStatus"> <i class="material-icons" style="font-size:25px;">insert_emoticon</i> {{ 'monitoringSystem.systemNotNormal' | translate }} </h4>
<h4 *ngIf="!systemStatus"> <i class="material-icons" style="font-size:25px;">insert_emoticon</i> {{ 'monitoringSystem.systemNormal' | translate }} </h4>

<div class="NormalStatus">

  <span> {{alarmStatus}}  {{ 'monitoringSystem.alarm' | translate }}  </span>
  <span>  {{troubleStatus}}   {{ 'monitoringSystem.trouble' | translate }}  </span>

</div>
