<div class="row">

  <div class="headerMenuIcons">
    <a title="{{ 'siteMap.siteShowCase' | translate }}" (click)="redirectToSiteShowcase($event)"> <i class="material-icons icon-white">image</i></a>&nbsp; &nbsp;
    <a title="{{ 'siteMap.edit' | translate }}" id="editIcon" (click)="redirectToEditBuilding($event)"> <i class="material-icons icon-white">edit</i></a>
  </div>




  <div class="col-md-12 bottom-space">
    <div class="section-heading"> <h5> <span> <i class="material-icons">  location_on </i> </span>{{ 'siteMap.siteMap' | translate }} - {{siteName}}</h5> </div>
    <div class="card card-chart">
      <div class="card-body">
        <div class="map-wrapper">
          <app-monitoring-site-map></app-monitoring-site-map>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row fixedfooter">
  <div class="col-md-12 eventTable">
    <app-monitoring-event [eventsData]="eventsData" (eventExpandableChanged)="eventExpandableChangedHandler($event)"></app-monitoring-event>
  </div>
</div>





