<div *ngIf="selectedTabData">
  <div style="text-align:center;">
    <h3> {{selectedTabData.name}}</h3>
  </div>

  <div class="row" style="margin-left:10px !important;">
    <div [id]="'cameraLayoutId_'+camViewItem.channelGuid" [class]="camViewItem.isExecuted ? 'col-lg-4 col-sm-12 camera-layout' : 'col-lg-4 col-sm-12 camera-layout-without-video'"  #allCameras *ngFor="let camViewItem of selectedTabData.cameraViewItems" (mouseenter)="mouseEnter('controls_'+camViewItem.channelGuid, camViewItem.channelGuid)"
         (mouseleave)="mouseLeave('controls_'+camViewItem.channelGuid, camViewItem.channelGuid)">
      <div style="overflow: hidden;" *ngIf="camViewItem">
        <span class="loader" *ngIf="camViewItem.channelGuid" [id]="'streamLoader_'+camViewItem.channelGuid"></span>
        <video style="display:none;" [id]="camViewItem.channelGuid" width="100%" height="100%" autoplay="autoplay" class="videoStyleCls"></video>
        <span style="display:none;" [id]="'stage_'+camViewItem.channelGuid" #stage>
        </span>
        <!--<span style="display:none;" [id]="'controls_'+camViewItem.channelGuid"></span>-->
        <span class="cameraFrameMessage" [id]="'errorMessageOnCameraFrame_'+camViewItem.channelGuid" style="display:none;">{{ 'camera.unabletoshowcamerafeed' | translate }}</span>
        <span class="cameraFrameMessage" [id]="'alreadyStreamedOnCameraFrame_'+camViewItem.channelGuid" style="display:none;">{{ 'camera.cameraStreamAlreadyAdded' | translate }}</span>
        <div style="display:none;" [id]="'controls_'+camViewItem.channelGuid">
          <div id="change">
            <span class="cameraNameCls">{{camViewItem.name}}</span>
            <button class="pause"><i class="material-icons">pause_arrow</i></button>
            <button class="zoomin"><i class="material-icons">zoom_in</i></button>
            <button class="zoomout"><i class="material-icons">zoom_out</i></button>
            <button type="button" class="reset"><i class="material-icons">settings_backup_restore</i></button>
            <button class="left"><i class="material-icons">keyboard_arrow_left</i></button>
            <button class="right"><i class="material-icons">keyboard_arrow_right</i></button>
            <button type="button" class="full-screen"><i class="material-icons">fullscreen</i></button>
            <button type="button" data-toggle="modal" data-target="#recordedPropertiesModal" class="archive" *ngIf="!camViewItem.isRecorded">Archive</button>
            <button type="button" class="archive" *ngIf="camViewItem.isRecorded">Live</button>
            <button class="up"><i class="material-icons">keyboard_arrow_up</i></button>
            <button class="down"><i class="material-icons">keyboard_arrow_down</i></button>
            <button class="forward" *ngIf="camViewItem.isRecorded"><i class="material-icons">fast_forward</i></button>
          </div>
        </div>

      </div>
    </div>


  </div>

</div>

<!-- recorded properties modal -->
<div class="modal" id="recordedPropertiesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notice">
    <div class="modal-content">
      <form class="form-horizontal" name="form">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel"><strong>{{ 'camera.recordedFeedProperties' | translate }}</strong></h5>

          <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closeRecordedFeedPropertiesPopUp($event)">
            <i class="material-icons">close</i>
          </button>
        </div>
        <div class="modal-body">
          <div class="instruction">
            <div class="row">
              <div class="col-md-4">
                <label>{{ 'camera.archiveStartDateTime' | translate }}</label>
              </div>
              <div class="col-md-8">
                <input [owlDateTime]="archiveStartDate" [owlDateTimeTrigger]="archiveStartDate" placeholder="{{ 'camera.archiveStartDateTime' | translate }}" [(ngModel)]="selectedCamData.archiveStartDate" name="archiveStartDate">
                <owl-date-time #archiveStartDate></owl-date-time>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <button mat-raised-button type="button" class="btn btn-info" (click)="addRecordedFeedProperties($event)">{{ 'camera.submit' | translate }}</button>
          <button mat-raised-button type="button" class="btn btn-grey" data-dismiss="modal" (click)="closeRecordedFeedPropertiesPopUp($event)">{{ 'camera.cancel' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
