.loader,
.loader:after {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.loader {
  margin: 25% auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.headerMenuIcons {
  top: 0px;
  right: 25px;
  cursor: pointer;
  width: auto;
}

.content {
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(255,255,255,0.8);
}

.overlay-content {
  position: absolute;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  top: 50%;
  bottom:0%;
  left: 0;
  right: 0;
  text-align: center;
  color: #555;
}

.navSize {
  width: 100%;
  float: left;
}

mat-list#cdk-drop-list-2 {
  margin-bottom: 15px;
}

.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
  border: 1px solid #ccc;
  margin-top: -1px;
}

a.btn.btn-raised.btn-info.mat-raised-button {
  background: transparent;
  border: 0px;
  box-shadow: none;
  padding: 12px 12px;
  margin-right: 0px;
}

  a.btn.btn-raised.btn-info.mat-raised-button:hover {
    background-color: #e91e63;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
  }

/*.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content:first-child {}*/
.mat-button.btn, .mat-button.btn.btn-default, .mat-raised-button.btn, .mat-raised-button.btn.btn-default,
.mat-raised-button.btn:not([class*=mat-elevation-z]), .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-default, .btn, .btn.btn-default {
  background-color: #e91e63;
  border-radius: 0px;
  margin-right: -6px;
  height: 40px !important;
}

.mat-button.btn.btn-info, .mat-raised-button.btn.btn-info, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-info, .btn.btn-info {
    color: #fff;
    background-color: #014f8b;
    border-color: #014f8b;
    box-shadow: 0 2px 2px 0 rgba(0, 188, 212, 0.14), 0 3px 1px -2px rgba(0, 188, 212, 0.2), 0 1px 5px 0 rgba(0, 188, 212, 0.12);
}
.mat-list-base {
  padding-top: 1px !important;
  margin-bottom:1px;
  border: 0px !important;
}

.editWrapper {width:96%;margin:0px auto;margin-top:20px;}
.editWrapper p {
    margin-bottom: 0px;
    text-transform: capitalize;
}
mat-list.mat-list.mat-list-base:first-child {
  background:#015697 !important;
  box-sizing:border-box;
  padding-top:1px;
  font-weight:400;
}

.mat-menu-panel{margin-top:0px !important;}

.navLink{width:100%;}

span.editBuildingName {
  float: left;
  max-width: 215px;
  padding: 15px 0px 15px 0px;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
}

span.editBuildingBtn {
  float: right;
  margin-top: 2px;
  margin-right: -7px;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  display: block;
  min-height: 48px;
  cursor: pointer;
}

/*.editActive {
  border: 1px solid #e91e63;
  background-color: #015697 !important;
}
  .editActive span.editBuildingName {
    color: red;
    width: 100%;
    float: left;
  }*/


  .floorActive {
    color: #e91e63 !important;
  }
.alert.alert-danger {
  background-color: #e91e63;
  color: #ffffff;
  margin: 0px auto;
  width: 70%;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

div {white-space: pre-wrap;}
a.nav-link{padding-left: 5px;}

button.btn.btn-info.mat-raised-button {
  margin: 0px 8px 0px 0px;
}

.editBuildingContainer{overflow-y: auto;max-height:150px;}
.EditBuildingMainContainer {height:250px;}
