
.table-box {
  border-collapse: separate;
  border: 1px solid #b7c7cf;
  text-align: center;
  border-spacing: 0px 1px;
}

  .table-box thead > tr > th {
    background-color: #015697;
    color: white;
    border-bottom: 1px solid #d8e6ec;
    font-size: 16px;
    font-weight: 400;
  }

  .table-box tbody > tr {
    background-color: #e4e4e4;
  }

  .table-box tr th {
    height: 40px;
    padding-left: 16px !important;
    font-weight: 400;
  }

  .table-box tr td {
    height: 30px;
    padding-left: 15px !important;
    font-size: 16px;
    font-weight: 400;
  }

.dataTables_filter {
  display: none !important;
}

/*Navigation menu bar css*/
.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
}

.nav-outer-div {
  position: fixed;
  z-index: 100;
  width: 100%;
}

.navbar.bg-primary {
  background-color: #015697 !important;
  padding-bottom: 2px;
  padding-top: 2px;
}

.mat-icon {
  cursor: pointer;
}

.logo img {
  margin-top: -5px;
}

.language_icon {
  float: right;
  margin-top: 10px;
  font-size: 30px;
}

.hamburger_menu {
  float: left;
  margin-top: 10px;
  font-size: 30px;
}

.section-heading {
  width: 100%;
  float: left;
}

  .section-heading h5 {
    margin: 10px 0px 10px 0px;
  }

  .section-heading span {
    float: left;
    width: 30px;
  }

select, select.form-control {
  -webkit-appearance: menulist;
}

.EventText {
  width: 100%;
  height: 36px;
  border: 1px solid #ccc;
  padding-left: 6px;
  line-height: 36px;
}

.alarmCls {
  color: red !important;
}

  .alarmCls:hover {
    color: red !important;
  }

.warningCls {
  color: brown !important;
}

  .warningCls:hover {
    color: brown !important;
    opacity: 0.8;
  }

.EventField {
  width: 215px;
  margin-left: 15px;
  box-shadow: 1px 1px 3px #222;
}

.table > thead > tr > th {
  border-bottom-width: 1px;
  font-size: 16px;
  font-weight: 400;
  vertical-align: middle;
  padding-left: 15px !important;
}

#datatables_wrapper .table-box tr td {
  padding-left: 15px !important;
}

.EventText::-webkit-input-placeholder {
  color: black;
  line-height: 36px;
}

ul.dtr-details {
  padding-left: 0px;
}

  ul.dtr-details li {
    list-style: none;
  }

h5 {
  font-weight: bold;
}



@media screen and (max-width: 599px) and (min-width: 320px) {
  .EventField {
    width: 90%;
    margin-left: 0;
    margin: 0px auto;
    line-height: 36px;
    margin-top: 7px;
  }

  .card .card-body {
    padding: 5px;
  }

  .EventText {
    margin-top: -1px;
  }

  .pagination > .page-item > .page-link.mat-button, .pagination > .page-item > span, .pagination .paginate_button a {
    border: 0;
    border-radius: 5px !important;
    padding: 0px !important;
    margin: 0 1px !important;
    min-width: 20px !important;
    font-size: 8px !important;
  }

  ul.pagination {
    padding-right: 10px;
  }

  div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    justify-content: center !important;
  }

  .table-box tr td {
    font-size: 12px;
    font-weight: normal;
  }

  .table-box thead > tr > th {
    font-size: 12px;
    font-weight: normal;
  }

  .disableRowMedia {
    display: none;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .table-box tr td {
    font-size: 12px;
    font-weight: normal;
  }

  .table-box thead > tr > th {
    font-size: 12px;
    font-weight: normal;
  }
}
