<div class="row">
  <div class="overlay" *ngIf="isLoader()"><div class="overlay-content"><img src="../../../../../assets/img/processing.gif" alt="Loading..." style="height:125px;width:100px" /></div></div>

  <div class="headerMenuIcons" *ngIf="!isLoader()">
      <a mat-raised-button class="btn btn-raised btn-info" data-toggle="modal" data-target="#buildingPropertiesModal" (click)="onAddBuildingClick($event)" title="{{ 'editBuilding.addBuilding' | translate }}"> <i class="material-icons icon-white">add</i></a>
      <a mat-raised-button class="btn btn-raised btn-info" title="{{ 'editBuilding.remove' | translate }}" (click)="onRemoveBuildingClick($event)"> <i class="material-icons icon-white">remove</i></a>
      <a mat-raised-button class="btn btn-raised btn-info" title="{{ 'editBuilding.done' | translate }}" (click)='onAddUpdateBuildingDetails($event)'> <i class="material-icons icon-white">done</i></a>
    </div>
    <div class="row" *ngIf="errorMessageFromApi">
      <div class="alert alert-danger">
        {{errorMessageFromApi}}
      </div>
    </div>
    <div class="editbuilding col-md-12" cdkDragHandle>
      <div class="row editWrapper">
        <ng-container *ngFor="let buildingItem of buildingsDetails">
          <div class="col-md-3 EditBuildingMainContainer" *ngIf="buildingItem.action != actionType.Delete">
            <mat-list role="list" [ngClass]="buildingItem.isSelectedBuilding?'editActive':''">
              <mat-list-item class="nav-item">
                <div class="navLink">
                  <div (click)="onBuildingNameClick($event,buildingItem.buildingId, buildingItem.buildingSerialNumber)" class="navSize">

                    <span class="editBuildingName"> {{buildingItem.name}} </span>
                    <span class="editBuildingBtn" *ngIf="buildingItem.typeParseId == mapTypes.SiteMap"> <a mat-raised-button class="btn btn-just-icon" *ngIf="buildingItem.isSelectedBuilding" title="edit" (click)="onEditSiteMap($event,buildingItem.number)"> <i class="material-icons">edit</i></a></span>
                    <span class="editBuildingBtn" *ngIf="buildingItem.typeParseId == mapTypes.Building"> <a mat-raised-button class="btn btn-just-icon" *ngIf="buildingItem.isSelectedBuilding" title="edit" (click)="onEditBuilding($event,buildingItem.number)"> <i class="material-icons">edit</i></a></span>
                  </div>
                </div>
              </mat-list-item>
            </mat-list>
            <mat-list role="list" class="nav editBuildingContainer" cdkDropList (cdkDropListDropped)="onDrop($event,buildingItem)" tabindex="0">
              <ng-container *ngFor="let floorItem of buildingItem.floors">


                <mat-list-item class="pop" [matMenuTriggerFor]="menu" *ngIf="floorItem.action != actionType.Delete" cdkDrag style="padding-bottom: 50px;">
                  <a class="nav-link">
                    <p>{{floorItem.name}}</p>
                  </a>
                  <mat-menu #menu>
                    <span [disabled]="!floorItem.mapId && buildingItem.typeParseId == mapTypes.Building" (click)="onfloorActionClick($event, floorActionsKeys()[floorLabelActions.Edit],floorItem,buildingItem.buildingSerialNumber)" mat-menu-item>{{("enums.floorLabelActions." + floorActionsKeys()[floorLabelActions.Edit]) | translate}}</span>
                    <span *ngIf="buildingItem.typeParseId == mapTypes.Building" [disabled]="!floorItem.mapId" (click)="onfloorActionClick($event, floorActionsKeys()[floorLabelActions.Copy],floorItem,buildingItem.buildingSerialNumber)" mat-menu-item>{{("enums.floorLabelActions." + floorActionsKeys()[floorLabelActions.Copy]) | translate}}</span>
                    <span [disabled]="!isCopied && !isCut" *ngIf="buildingItem.typeParseId == mapTypes.Building" (click)="onfloorActionClick($event, floorActionsKeys()[floorLabelActions.Paste],floorItem,buildingItem.buildingSerialNumber)" mat-menu-item>{{("enums.floorLabelActions." + floorActionsKeys()[floorLabelActions.Paste]) | translate}}</span>
                    <span *ngIf="buildingItem.typeParseId == mapTypes.Building" (click)="onfloorActionClick($event, floorActionsKeys()[floorLabelActions.Delete],floorItem,buildingItem.buildingSerialNumber)" mat-menu-item>{{("enums.floorLabelActions." + floorActionsKeys()[floorLabelActions.Delete]) | translate}}</span>
                    <span *ngIf="buildingItem.typeParseId == mapTypes.Building" (click)="onfloorActionClick($event, floorActionsKeys()[floorLabelActions['Insert Above']],floorItem,buildingItem.buildingSerialNumber)" mat-menu-item>{{("enums.floorLabelActions." + floorActionsKeys()[floorLabelActions['Insert Above']]) | translate}}</span>
                    <span *ngIf="buildingItem.typeParseId == mapTypes.Building" (click)="onfloorActionClick($event, floorActionsKeys()[floorLabelActions['Insert Below']],floorItem,buildingItem.buildingSerialNumber)" mat-menu-item>{{("enums.floorLabelActions." + floorActionsKeys()[floorLabelActions['Insert Below']]) | translate}}</span>
                    <span *ngIf="buildingItem.typeParseId == mapTypes.Building" (click)="onfloorActionClick($event, floorActionsKeys()[floorLabelActions.Cut],floorItem,buildingItem.buildingSerialNumber)" mat-menu-item>{{("enums.floorLabelActions." + floorActionsKeys()[floorLabelActions.Cut]) | translate}}</span>
                  </mat-menu>
                </mat-list-item>

              </ng-container>
            </mat-list>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <!-- building properties modal -->
  <div class="modal" id="buildingPropertiesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notice">
      <div class="modal-content">
        <form class="form-horizontal" name="form">
          <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel"><strong>{{ 'editBuilding.addEditBuilding' | translate }}</strong></h5>

            <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closeBuildingPopUp($event)">
              <i class="material-icons">close</i>
            </button>
          </div>
          <div class="modal-body">
            <div class="instruction">
              <div class="row" *ngIf="errorMessageOnBuildingPopUp">
                <div class="alert alert-danger">
                  {{errorMessageOnBuildingPopUp}}
                </div>
              </div>
              <div class="row" *ngIf="errorMessageOfCaseFile">
                <div class="alert alert-danger">
                  {{errorMessageOfCaseFile}}
                </div>
              </div>
              <div class="row">
                <input type="hidden" name="buildingSerialNumber" [(ngModel)]="buildingData.buildingSerialNumber" />
                <div class="col-md-4">
                  <label>{{ 'editBuilding.name' | translate }} *</label>
                </div>
                <div class="col-md-8">
                  <input matInput class="form-control" [(ngModel)]="buildingData.buildingName" id="buildingName" name="buildingName" required />
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label>{{ 'editBuilding.description' | translate }}</label>
                </div>
                <div class="col-md-8">
                  <input matInput class="form-control" id="buildingDescription" [(ngModel)]="buildingData.buildingDescription" name="buildingDescription" />
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label>
                    {{ 'editBuilding.numberOfFloors' | translate }} *
                  </label>
                </div>
                <div class="col-md-8">
                  <input matInput type="number" class="form-control" id="buildingSlotNo" name="buildingSlotNo" [(ngModel)]="buildingData.buildingSlotNo" [disabled]="disabledFieldOnEdit" required #buildingSlotNo="ngModel" />
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label> {{ 'editBuilding.buildingNumber' | translate }}</label>
                </div>
                <div class="col-md-8">
                  <input matInput type="number" class="form-control" id="buildingNo" name="buildingNo" [(ngModel)]="buildingData.buildingNo" />
                </div>
              </div>
              <div class="row" style="display:none;">
                <div class="col-md-4">
                  <label> {{ 'editBuilding.floorStackFile' | translate }}</label>
                </div>
                <div class="col-md-8">
                  <img [src]="buildingData.floorUrl" width="100%" *ngIf="buildingData.floorUrl"> <br />
                  <input type='file' #floorFileId (change)="onSelectFloorFile($event)" [src]="buildingData.floorUrl" />
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label> {{ 'editBuilding.showcasePicture' | translate }}</label>
                </div>
                <div class="col-md-8">
                  <img [src]="buildingData.caseUrl" width="100%" *ngIf="buildingData.caseUrl"> <br />
                  <input type='file' #caseFileId (change)="onSelectCaseFile($event)" [src]="buildingData.caseUrl" />
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer justify-content-center">
            <button mat-raised-button type="button" class="btn btn-info" (click)='onBuildingSubmitted($event)'> {{ 'editBuilding.submit' | translate }}</button>
            <button mat-raised-button type="button" class="btn btn-grey" data-dismiss="modal" (click)="closeBuildingPopUp($event)"> {{ 'editBuilding.cancel' | translate }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- building properties modal -->
  <!-- site map modal -->
  <div class="modal" id="siteMapPropertiesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notice">
      <div class="modal-content">
        <form class="form-horizontal" name="form">
          <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">{{ 'editBuilding.updateSiteMap' | translate }}</h5>

            <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closeBuildingPopUp($event)">
              <i class="material-icons">close</i>
            </button>
          </div>
          <div class="modal-body">
            <div class="instruction">
              <div class="row" *ngIf="errorMessageOnSiteMapPopUp">
                <div class="alert alert-danger">
                  {{errorMessageOnSiteMapPopUp}}
                </div>
              </div>
              <div class="row" *ngIf="errorMessageOfCaseFileOnSiteMap">
                <div class="alert alert-danger">
                  {{errorMessageOfCaseFileOnSiteMap}}
                </div>
              </div>
              <div class="row">
                <input type="hidden" name="buildingSerialNumber" [(ngModel)]="buildingData.buildingSerialNumber" />

              </div>
              <div class="row">
                <div class="col-md-4">
                  <label>{{ 'editBuilding.description' | translate }}</label>
                </div>
                <div class="col-md-8">
                  <input matInput class="form-control" id="buildingDescription" [(ngModel)]="buildingData.buildingDescription" name="buildingDescription" />
                </div>
              </div>
              <div class="row" style="display:none;">
                <div class="col-md-4">
                  <label>{{ 'editBuilding.floorStackPicture' | translate }}</label>
                </div>
                <div class="col-md-8">
                  <img [src]="buildingData.floorUrl" width="100%" *ngIf="buildingData.floorUrl"> <br />
                  <input type='file' #floorFileId (change)="onSelectFloorFile($event)" [src]="buildingData.floorUrl" />
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label>{{ 'editBuilding.showcasePicture' | translate }}</label>
                </div>
                <div class="col-md-8">
                  <img [src]="buildingData.caseUrl" width="100%" *ngIf="buildingData.caseUrl"> <br />
                  <input type='file' #caseFileId (change)="onSelectCaseFileOnSiteMap($event)" [src]="buildingData.caseUrl" />
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer justify-content-center">
            <button mat-raised-button type="button" class="btn btn-info" (click)='onSiteMapSubmitted($event)'>{{ 'editBuilding.submit' | translate }}</button>
            <button mat-raised-button type="button" class="btn btn-grey" data-dismiss="modal" (click)="closeSiteMapPopUp($event)">{{ 'editBuilding.cancel' | translate }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- site map properties modal -->
