.mid-container {
  margin: 15% auto;
}

.card-header.card-header-rose.text-center {
  width: 83%;
  margin: 0px auto;
}

.error-alert {
  text-align: center;
}

  .error-alert span {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    width: 93%;
    float: left;
    margin-left: 7%;
    margin-top: 3px;
    border-radius: 3px;
    padding: 8px;
  }


.login-page .card-login .card-body .input-group .form-control {
  padding-left: 10px;
}

.page-header{
  min-height:100vh;

}
