<div class="row">
  <div class="headerMenuIcons">
    <a mat-raised-button class="btn btn-raised btn-info" title="done" (click)='onSaveCameraDetail($event)'> <i class="material-icons icon-white">done</i></a>
  </div>

  <div class="col-lg-12"><h3 class="text-center"><strong>{{ 'camera.editCamera' | translate }}</strong></h3></div>

  <div class="col-lg-2 componentLibraryCls">
    <h4 class="editHeader">{{ 'camera.componentLibrary' | translate }}</h4> <br />

    <div class="sidebar1-wrapper">
      <ul class="nav" *ngIf="cameraComponentLibraryData">
        <li class="nav-item" *ngFor="let camComponent of cameraComponentLibraryData;">
          <a class="nav-link collapsed" data-toggle="collapse" href="#inputsTag_{{camComponent.serverId}}" aria-expanded="false">
            <p>
              {{camComponent.serverName}}
              <b class="caret"></b>
            </p>
          </a>
          <div class="collapse" id="inputsTag_{{camComponent.serverId}}">
            <ul class="nav">
              <li class="nav-item" *ngFor="let camDetail of camComponent.cameraDetails;">
                <a class="nav-link" *ngIf="camDetail.isUsed">
                  <span class="sidebar-normal">
                    <i class="material-icons"> exit_to_app </i>
                    {{camDetail.channelName}}
                    <a *ngIf="camDetail.isUsed" class="pull-right" title="done"> <i class="material-icons">done</i></a>
                  </span>
                </a>
                <a class="nav-link" *ngIf="!camDetail.isUsed">
                  <span class="sidebar-normal" mwlDraggable [dropData]="camDetail" dragActiveClass="drag-active">
                    <i class="material-icons"> exit_to_app </i>
                    {{camDetail.channelName}}
                    <a *ngIf="camDetail.isUsed" class="pull-right" title="done"> <i class="material-icons">done</i></a>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </li>

      </ul>
    </div>
  </div>

  <div class="col-lg-10">
    <div class="row">
      <div class="col-lg-12">
        <div class="">
          <mat-tab-group style="width:100%" *ngIf="cameraData" (selectedTabChange)="onCameraTabsChange($event)">
            <ng-container #allCameras *ngFor="let camData of cameraData; let camIndex = index; let lastcall=last">
              <mat-tab *ngIf="camData.action != actionType.Delete">
                <ng-template mat-tab-label>
                  {{camData.name}}
                  <a mat-icon-button (click)="removeTab($event,camData)">
                    <mat-icon>remove_circle</mat-icon>
                  </a>
                  <a mat-icon-button data-toggle="modal" data-target="#addEditTabModal" (click)="onEditTabClick($event,camData)">
                    <mat-icon>edit_circle</mat-icon>
                  </a>
                </ng-template>

                <div style="text-align:center;">
                  <div [ngClass]="cameraLayoutID[cameraLayout]==camData.layoutID?'button-layout bold-layout':'button-layout'" *ngFor="let cameraLayout of cameraLayoutKeyPair()" (click)="selectLayout(cameraLayout,camIndex,camData.layoutID)">
                    {{cameraLayoutID[cameraLayout]}}
                  </div>
                </div>

                <div class="places-sweet-alerts" style="overflow:hidden">
                  <div class="row" style="margin-left:-5px !important">
                    <!--[ngClass]="camData.cameraViewItems[camCount] && camData.cameraViewItems[camCount].isSelected ? 'camera-layout-selected':'camera-layout'"-->
                    <div [id]="'cameraLayoutId_'+camData.cameraViewItems[camCount].channelGuid" [class]="camData.cameraViewItems[camCount].channelGuid ? 'col-lg-4 col-sm-12 camera-layout' : 'col-lg-4 col-sm-12 camera-layout-without-video'"  id="dvCameraLayout" *ngFor="let camCount of listOfArray(camData.layoutID)" (mouseenter)="mouseEnter('controls_'+camData.cameraViewItems[camCount].channelGuid,camData.cameraViewItems[camCount].channelGuid)"
                        (mouseleave)="mouseLeave('controls_'+camData.cameraViewItems[camCount].channelGuid, camData.cameraViewItems[camCount].channelGuid)">
                      <ng-container *ngIf="camData.cameraViewItems[camCount] && camData.cameraViewItems[camCount].isStreamed">
                        <div style="overflow:hidden;">
                          <span class="loader" [id]="'streamLoader_'+camData.cameraViewItems[camCount].channelGuid"></span>
                          <video [matMenuTriggerFor]="menu" style="display:none;" [id]="camData.cameraViewItems[camCount].channelGuid" width="100%" height="100%" autoplay="autoplay" class="videoStyleCls"></video>
                          <mat-menu #menu="matMenu">
                            <span (click)="removeCameraFromFrame($event,camData.cameraViewItems[camCount])" mat-menu-item> Remove </span>
                            <span data-toggle="modal" data-target="#cameraPropertiesModal" (click)="onCameraProperties($event,camData.cameraViewItems[camCount])" mat-menu-item>Properties </span>
                            <span (click)="startPlayingCameraFeed($event,camData.cameraViewItems[camCount])" mat-menu-item> Start Preview </span>
                            <span (click)="stopPlayingCameraFeed($event,camData.cameraViewItems[camCount])" mat-menu-item> Stop Preview </span>
                          </mat-menu>
                          <div class="overlayElement" [id]="'overlay_'+camData.cameraViewItems[camCount].channelGuid">
                            <span [style.display]="camData.cameraViewItems[camCount] && camData.cameraViewItems[camCount].isSelected?'block':'none'" [id]="'stage_'+camData.cameraViewItems[camCount].channelGuid" #stage>
                            </span>
                            <!--<span [style.display]="camData.cameraViewItems[camCount] && camData.cameraViewItems[camCount].isSelected?'block':'none'"
          [id]="'controls_'+camData.cameraViewItems[camCount].channelGuid"></span>-->

                            <span class="cameraFrameMessage" [id]="'errorMessageOnCameraFrame_'+camData.cameraViewItems[camCount].channelGuid" style="display:none;">{{ 'camera.unabletoshowcamerafeed' | translate }}</span>
                            <span class="cameraFrameMessage" [id]="'alreadyStreamedOnCameraFrame_'+camData.cameraViewItems[camCount].channelGuid" style="display:none;">{{ 'camera.cameraStreamAlreadyAdded' | translate }}</span>
                            <div style="display:none;" [id]="'controls_'+camData.cameraViewItems[camCount].channelGuid">
                              <div id="change">
                                <span class="cameraNameCls">{{camData.cameraViewItems[camCount].name}}</span>
                                <button class="pause"><i class="material-icons">pause_arrow</i></button>
                                <button class="zoomin"><i class="material-icons">zoom_in</i></button>
                                <button class="zoomout"><i class="material-icons">zoom_out</i></button>
                                <button type="button" class="reset"><i class="material-icons">settings_backup_restore</i></button>
                                <button class="left"><i class="material-icons">keyboard_arrow_left</i></button>
                                <button class="right"><i class="material-icons">keyboard_arrow_right</i></button>
                                <button type="button" class="full-screen"><i class="material-icons">fullscreen</i></button>
                                <button type="button" data-toggle="modal" data-target="#recordedPropertiesModal" class="archive" *ngIf="!camData.cameraViewItems[camCount].isRecorded">Archive</button>
                                <button type="button" class="archive" *ngIf="camData.cameraViewItems[camCount].isRecorded">Live</button>
                                <button class="up"><i class="material-icons">keyboard_arrow_up</i></button>
                                <button class="down"><i class="material-icons">keyboard_arrow_down</i></button>
                                <button class="forward" *ngIf="camData.cameraViewItems[camCount].isRecorded"><i class="material-icons">fast_forward</i></button>
                              </div>

                            </div>


                          </div>

                        </div>
                      </ng-container>
                      <div class="cameraItemEmptyCls" *ngIf="camData.cameraViewItems[camCount] && !camData.cameraViewItems[camCount].isStreamed" mwlDroppable
                           (drop)="onDrop($event,camCount)"
                           dragOverClass="drop-over-active">
                        <span [hidden]="!droppedData">
                          <video [matMenuTriggerFor]="menu" width="100%" height="100%" class="videoStyleCls" controls autoplay="autoplay" *ngIf="camData.cameraViewItems[camCount] && camData.cameraViewItems[camCount].action != actionType.Delete">
                            <!--<source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/bigbuckbunny.mp4" type="video/mp4">-->
                          </video>
                          <mat-menu #menu="matMenu">
                            <span (click)="removeCameraFromFrame($event,camData.cameraViewItems[camCount])" mat-menu-item> Remove </span>
                            <span data-toggle="modal" data-target="#cameraPropertiesModal" (click)="onCameraProperties($event,camData.cameraViewItems[camCount])" mat-menu-item>Properties </span>
                            <span (click)="startPlayingCameraFeed($event,camData.cameraViewItems[camCount])" mat-menu-item> Start Preview </span>
                            <span (click)="stopPlayingCameraFeed($event,camData.cameraViewItems[camCount])" mat-menu-item> Stop Preview </span>
                          </mat-menu>
                          <div class="overlayElement" [id]="'overlay_'+camData.cameraViewItems[camCount].channelGuid">
                            <span [style.display]="camData.cameraViewItems[camCount] && camData.cameraViewItems[camCount].isSelected?'block':'none'" [id]="'stage_'+camData.cameraViewItems[camCount].channelGuid" #stage>
                            </span>
                            <span [style.display]="camData.cameraViewItems[camCount] && camData.cameraViewItems[camCount].isSelected?'block':'none'" [id]="'controls_'+camData.cameraViewItems[camCount].channelGuid"></span>

                          </div>
                        </span>
                      </div>
                    </div>

                  </div>
                </div>
              </mat-tab>
              <mat-tab [disabled]="true" *ngIf="cameraData.length === camIndex+1">
                <ng-template mat-tab-label>
                  <a mat-icon-button data-toggle="modal" data-target="#addEditTabModal">
                    <mat-icon>add_circle</mat-icon>
                  </a>
                </ng-template>
              </mat-tab>

            </ng-container>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- tab properties modal -->
<div class="modal" id="addEditTabModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notice">
    <div class="modal-content">
      <form class="form-horizontal" name="form">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel"><strong>{{ 'camera.tabInfo' | translate }}</strong></h5>

          <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closeTabPopUp($event)">
            <i class="material-icons">close</i>
          </button>
        </div>
        <div class="modal-body">
          <div class="instruction">
            <div class="row">
              <div class="col-md-4">
                <label>{{ 'camera.name' | translate }}  *</label>
              </div>
              <div class="col-md-8">
                <input matInput class="form-control" [(ngModel)]="tabData.name" id="name" name="name" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label>{{ 'camera.layout' | translate }} *</label>
              </div>
              <div class="col-md-8">
                <mat-form-field>
                  <mat-select placeholder="{{ 'camera.selectLayout' | translate }}" [(ngModel)]="tabData.layoutId" name="layoutId">
                    <mat-option *ngFor="let cameraLayout of cameraLayoutKeyPair()" [value]="cameraLayout">
                      {{ cameraLayout }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <button mat-raised-button type="button" class="btn btn-info" (click)="addTab($event)">{{ 'camera.submit' | translate }}</button>
          <button mat-raised-button type="button" class="btn btn-grey" data-dismiss="modal" (click)="closeTabPopUp($event)">{{ 'camera.cancel' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- camera properties modal -->
<div class="modal" id="cameraPropertiesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notice">
    <div class="modal-content">
      <form class="form-horizontal" name="form">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel"><strong>{{ 'camera.cameraProperties' | translate }}</strong></h5>

          <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closeCameraPropertiesPopUp($event)">
            <i class="material-icons">close</i>
          </button>
        </div>
        <div class="modal-body">
          <div class="instruction">
            <div class="row">
              <div class="col-md-4">
                <label>{{ 'camera.label' | translate }} *</label>
              </div>
              <div class="col-md-8">
                <input matInput class="form-control" [(ngModel)]="selectedCamData.label" id="label" name="label" />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <button mat-raised-button type="button" class="btn btn-info" (click)="modifyCameraProperties($event)">{{ 'camera.submit' | translate }}</button>
          <button mat-raised-button type="button" class="btn btn-grey" data-dismiss="modal" (click)="closeCameraPropertiesPopUp($event)">{{ 'camera.cancel' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- recorded properties modal -->
<div class="modal" id="recordedPropertiesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notice">
    <div class="modal-content">
      <form class="form-horizontal" name="form">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel"><strong>{{ 'camera.recordedFeedProperties' | translate }}</strong></h5>

          <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closeRecordedFeedPropertiesPopUp($event)">
            <i class="material-icons">close</i>
          </button>
        </div>
        <div class="modal-body">
          <div class="instruction">
            <div class="row">
              <div class="col-md-4">
                <label>{{ 'camera.archiveStartDateTime' | translate }}</label>
              </div>
              <div class="col-md-8">
                <input [owlDateTime]="archiveStartDate" [owlDateTimeTrigger]="archiveStartDate" placeholder="{{ 'camera.archiveStartDateTime' | translate }}" [(ngModel)]="selectedCamData.archiveStartDate" name="archiveStartDate">
                <owl-date-time #archiveStartDate></owl-date-time>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <button mat-raised-button type="button" class="btn btn-info" (click)="addRecordedFeedProperties($event)">{{ 'camera.submit' | translate }}</button>
          <button mat-raised-button type="button" class="btn btn-grey" data-dismiss="modal" (click)="closeRecordedFeedPropertiesPopUp($event)">{{ 'camera.cancel' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>

