.eventTable {
  padding-right: 0px;
  padding-left: 29px;
}
.card {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

/*Navigation menu bar css*/
.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
}

.nav-outer-div {
  position: fixed;
  z-index: 100;
  width: 100%;
}

.navbar.bg-primary {
  background-color: #015697 !important;
  padding-bottom: 2px;
  padding-top: 2px;
}

.mat-icon {
  cursor: pointer;
}

.logo img {
  margin-top: -5px;
}

.language_icon {
  float: right;
  margin-top: 10px;
  font-size: 30px;
}

.hamburger_menu {
  float: left;
  margin-top: 10px;
  font-size: 30px;
}

.content-wrapper {
  width: 100%;
  float: left;
  top: 0px;
  margin-top: 60px;
}
.section-heading {
  width: 100%;
  float: left;
}

  .section-heading span {
    float: left;
    width: 30px;
  }

  .section-heading h5 {
    margin: 10px 0px 10px 0px;
    padding-left: 15px;
  }

.card2-color {
  box-shadow: 2px 2px 4px #999 !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  font-size: 15px;
  font-weight: 400;
  vertical-align: middle;
  background: #015697 !important;
  color: white;
}

.fixedfooter {
  position: fixed;
  bottom: 0px;
  width: 85%;
  padding-right: 30px;
  z-index: 999;
}
.bottom-space {
  margin-bottom: 250px;
}
h5{
  font-weight: bold;
}

.headerMenuIcons {
  top: 0px;
  right: 25px;
  cursor: pointer;
  width: auto;
}

.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
  border: 1px solid #ccc;
  margin-top: -1px;
}

a.btn.btn-raised.btn-info.mat-raised-button {
  background: transparent;
  border: 0px;
  box-shadow: none;
  padding: 12px 12px;
}

  a.btn.btn-raised.btn-info.mat-raised-button:hover {
    background-color: #e91e63;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
  }

/*.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content:first-child {
}*/

.mat-button.btn, .mat-button.btn.btn-default, .mat-raised-button.btn, .mat-raised-button.btn.btn-default,
.mat-raised-button.btn:not([class*=mat-elevation-z]), .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-default, .btn, .btn.btn-default {
  background-color: #e91e63;
}

  .mat-button.btn.btn-info, .mat-raised-button.btn.btn-info, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-info, .btn.btn-info {
    color: #fff;
    background-color: #014f8b;
    border-color: #014f8b;
    box-shadow: 0 2px 2px 0 rgba(0, 188, 212, 0.14), 0 3px 1px -2px rgba(0, 188, 212, 0.2), 0 1px 5px 0 rgba(0, 188, 212, 0.12);
  }



@media screen and (max-width: 374px) and (min-width: 320px) {
  .card-text.card2-color {
    padding: 10px !important;
  }
  h4.card-title{
    font-size: 12px !important;
  }
  .card { margin-top:30px !important;}
  .fixedfooter {
    position:fixed;
    bottom:0px;
    width:100%;
    padding-right:0px;
    z-index: 999;
  }

  .bottom-space{margin-bottom:180px;}

}

@media screen and (max-width: 415px) and (min-width: 375px) {
  .card-text.card2-color {
    padding: 10px !important;
  }

  h4.card-title {
    font-size: 12px !important;
  }

  .card {
    margin-top: 30px !important;
  }

  .fixedfooter {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding-right: 0px;
    z-index: 999;
  }

  .bottom-space {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 767px) and (min-width: 500px) {
  .fixedfooter {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding-right: 0px;
  }

  .table > thead > tr > th {
    font-size: 12px;
    font-weight: 400;
  }
}


@media screen and (max-width: 1023px) and (min-width: 768px) {
  .fixedfooter {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding-right:0px;
    z-index: 999;
  }

}

@media screen and (max-width:1050px) and (min-width: 1024px) {

  .fixedfooter {
    position: fixed;
    bottom: 0px;
    width: 80%;
    padding-right: 30px;
  }
}
