<div>
  <div class="map-wrapper">

    <ul class="building-nav" *ngIf="siteFromDashboard != 'yes'">
      <li *ngIf="siteFromDashboard == 'yes'"> <a title="{{ 'floor.goBackToSite' | translate }}" routerLink="/monitoring/dashboard"> <i class="material-icons">business </i></a> </li>
      <li *ngIf="siteFromDashboard != 'yes'"> <a title="{{ 'floor.goBackToSite' | translate }}" routerLink="../../site-map">  <i class="material-icons">business </i></a> </li>
      <br />
      <li> <a title="{{ 'floor.goBackToBuildings' | translate }}" [routerLink]="" (click)="redirectToBuildingClick($event)">  <i class="material-icons">layers </i></a> </li>
      <li>
        <a [routerLink]="" [class.disabled]="isActiveUpArrow" (click)="!isActiveUpArrow && redirectToPrevious()"><i class="material-icons"> keyboard_arrow_up</i></a>
        <br />
        <a [routerLink]="" [class.disabled]="isActiveDownArrow" (click)="!isActiveDownArrow && redirectToNext()"><i class="material-icons"> keyboard_arrow_down </i></a>
      </li>
    </ul>

    <div *ngIf="floorData && floorStatusList" class="floorViewCss">
      <h3 *ngIf="siteFromDashboard != 'yes'" class="floorName"><b>{{floorData.title}} </b></h3>
      <h4 *ngIf="siteFromDashboard == 'yes'" class="floorName"><b>{{floorData.title}} </b></h4>
      <div *ngIf="!disableZoom" [attr.id]="'svgZoomDiv_'+floorMapNumber">
        <svg #svgBuildingName xmlns:xlink="http://www.w3.org/1999/xlink" [attr.id]="'svgBuildingName_'+floorMapNumber">
          <image attr.x="{{floorData.x}}" attr.y="{{floorData.y}}" attr.xlink:href="{{floorData.image}}" [attr.id]="'imgBackground_'+floorMapNumber" />

          <a *ngFor="let item of floorStatusList" (click)="on_clickInfoCamera(item.status,item.name,item.itemGuid)">
            <!--Display Camera-->
            <image width="40" height="40" attr.x="{{item.x}}" attr.y="{{item.y}}" xlink:href="../assets/img/edit-icons/Camera.png" *ngIf="item.type===mapItemType[mapItemType.Camera]"><title>{{item.name}}</title></image>
            <!--Display Alarm for camera-->
            <image width="100" height="100" attr.x="{{item.x-30}}" attr.y="{{item.y-25}}" xlink:href="../assets/img/status/alarm.gif" *ngIf="item.status != 1 && item.status==mapItemStatus.alarm && item.type===mapItemType[mapItemType.Camera]"><title>{{item.name}}</title></image>
            <image width="100" height="100" attr.x="{{item.x-30}}" attr.y="{{item.y-25}}" xlink:href="../assets/img/status/offline.png" *ngIf="item.status != 1 && item.status==mapItemStatus.offline && item.type===mapItemType[mapItemType.Camera]"><title>{{item.name}}</title></image>
            <image width="100" height="100" attr.x="{{item.x-30}}" attr.y="{{item.y-25}}" xlink:href="../assets/img/status/unknown.png" *ngIf="item.status != 1 && item.status==mapItemStatus.unknown && item.type===mapItemType[mapItemType.Camera]"><title>{{item.name}}</title></image>
            <image width="100" height="100" attr.x="{{item.x-30}}" attr.y="{{item.y-25}}" xlink:href="../assets/img/status/trouble.gif" *ngIf="item.status != 1 && item.status==mapItemStatus.trouble && item.type===mapItemType[mapItemType.Camera]"><title>{{item.name}}</title></image>
          </a>

          <a *ngFor="let item of floorStatusList" (click)="on_clickInfo(item.status,item.name)">
            <!--Display Doors/Inputs without status-->
            <image width="40" height="40" attr.x="{{item.x}}" attr.y="{{item.y}}" xlink:href="../assets/img/door-icon/close-lock.png" *ngIf="item.statusData1 == 0 && item.statusData2 == 0 && item.type===mapItemType[mapItemType.AccessPoint]"><title>{{item.name}}</title></image>
            <image width="40" height="40" attr.x="{{item.x}}" attr.y="{{item.y}}" xlink:href="../assets/img/door-icon/close-unlock.png" *ngIf="item.statusData1 == 0 && item.statusData2 == 1 && item.type===mapItemType[mapItemType.AccessPoint]"><title>{{item.name}}</title></image>
            <image width="40" height="40" attr.x="{{item.x}}" attr.y="{{item.y}}" xlink:href="../assets/img/door-icon/open-lock.png" *ngIf="item.statusData1 == 1 && item.statusData2 == 0 && item.type===mapItemType[mapItemType.AccessPoint]"><title>{{item.name}}</title></image>
            <image width="40" height="40" attr.x="{{item.x}}" attr.y="{{item.y}}" xlink:href="../assets/img/door-icon/open-unlock.png" *ngIf="item.statusData1 == 1 && item.statusData2 == 1 && item.type===mapItemType[mapItemType.AccessPoint]"><title>{{item.name}}</title></image>

            <image width="40" height="40" attr.x="{{item.x}}" attr.y="{{item.y}}" xlink:href="../assets/img/edit-icons/Input.png" *ngIf="item.type===mapItemType[mapItemType.Input]"><title>{{item.name}}</title></image>
            <!--Display Alarm except for camera-->
            <image width="100" height="100" attr.x="{{item.x-30}}" attr.y="{{item.y-25}}" xlink:href="../assets/img/status/alarm.gif" *ngIf="item.status != 1 && item.status==mapItemStatus.alarm && item.type!==mapItemType[mapItemType.Camera]"><title>{{item.name}}</title></image>
            <image width="100" height="100" attr.x="{{item.x-30}}" attr.y="{{item.y-25}}" xlink:href="../assets/img/status/offline.png" *ngIf="item.status != 1 && item.status==mapItemStatus.offline && item.type!==mapItemType[mapItemType.Camera]"><title>{{item.name}}</title></image>
            <image width="100" height="100" attr.x="{{item.x-30}}" attr.y="{{item.y-25}}" xlink:href="../assets/img/status/unknown.png" *ngIf="item.status != 1 && item.status==mapItemStatus.unknown && item.type!==mapItemType[mapItemType.Camera]"><title>{{item.name}}</title></image>
            <image width="100" height="100" attr.x="{{item.x-30}}" attr.y="{{item.y-25}}" xlink:href="../assets/img/status/trouble.gif" *ngIf="item.status != 1 && item.status==mapItemStatus.trouble && item.type!==mapItemType[mapItemType.Camera]"><title>{{item.name}}</title></image>
          </a>

        </svg>
      </div>
      <div *ngIf="disableZoom" [attr.id]="'svgZoomDiv_'+floorMapNumber">
        <svg #svgBuildingName xmlns:xlink="http://www.w3.org/1999/xlink" [attr.id]="'svgBuildingName_'+floorMapNumber">
          <image attr.x="{{floorData.x}}" attr.y="{{floorData.y}}" attr.xlink:href="{{floorData.image}}" [attr.id]="'imgBackground_'+floorMapNumber" />

          <a *ngFor="let item of floorStatusList" (click)="on_clickInfoCamera(item.status,item.name,item.itemGuid)">
            <!--Display Camera-->
            <image width="40" height="40" attr.x="{{item.x}}" attr.y="{{item.y}}" xlink:href="../assets/img/edit-icons/Camera.png" *ngIf="item.type===mapItemType[mapItemType.Camera]"><title>{{item.name}}</title></image>
            <!--Display Alarm for camera-->
            <image width="100" height="100" attr.x="{{item.x-30}}" attr.y="{{item.y-25}}" xlink:href="../assets/img/status/alarm.gif" *ngIf="item.status != 1 && item.status==mapItemStatus.alarm && item.type===mapItemType[mapItemType.Camera]"><title>{{item.name}}</title></image>
            <image width="100" height="100" attr.x="{{item.x-30}}" attr.y="{{item.y-25}}" xlink:href="../assets/img/status/offline.png" *ngIf="item.status != 1 && item.status==mapItemStatus.offline && item.type===mapItemType[mapItemType.Camera]"><title>{{item.name}}</title></image>
            <image width="100" height="100" attr.x="{{item.x-30}}" attr.y="{{item.y-25}}" xlink:href="../assets/img/status/unknown.png" *ngIf="item.status != 1 && item.status==mapItemStatus.unknown && item.type===mapItemType[mapItemType.Camera]"><title>{{item.name}}</title></image>
            <image width="100" height="100" attr.x="{{item.x-30}}" attr.y="{{item.y-25}}" xlink:href="../assets/img/status/trouble.gif" *ngIf="item.status != 1 && item.status==mapItemStatus.trouble && item.type===mapItemType[mapItemType.Camera]"><title>{{item.name}}</title></image>
          </a>

          <a *ngFor="let item of floorStatusList" (click)="on_clickInfo(item.status,item.name)">
            <!--Display Doors/Inputs without status-->
            <image width="40" height="40" attr.x="{{item.x}}" attr.y="{{item.y}}" xlink:href="../assets/img/door-icon/close-lock.png" *ngIf="item.statusData1 == 0 && item.statusData2 == 0 && item.type===mapItemType[mapItemType.AccessPoint]"><title>{{item.name}}</title></image>
            <image width="40" height="40" attr.x="{{item.x}}" attr.y="{{item.y}}" xlink:href="../assets/img/door-icon/close-unlock.png" *ngIf="item.statusData1 == 0 && item.statusData2 == 1 && item.type===mapItemType[mapItemType.AccessPoint]"><title>{{item.name}}</title></image>
            <image width="40" height="40" attr.x="{{item.x}}" attr.y="{{item.y}}" xlink:href="../assets/img/door-icon/open-lock.png" *ngIf="item.statusData1 == 1 && item.statusData2 == 0 && item.type===mapItemType[mapItemType.AccessPoint]"><title>{{item.name}}</title></image>
            <image width="40" height="40" attr.x="{{item.x}}" attr.y="{{item.y}}" xlink:href="../assets/img/door-icon/open-unlock.png" *ngIf="item.statusData1 == 1 && item.statusData2 == 1 && item.type===mapItemType[mapItemType.AccessPoint]"><title>{{item.name}}</title></image>

            <image width="40" height="40" attr.x="{{item.x}}" attr.y="{{item.y}}" xlink:href="../assets/img/edit-icons/Input.png" *ngIf="item.type===mapItemType[mapItemType.Input]"><title>{{item.name}}</title></image>
            <!--Display Alarm except for camera-->
            <image width="100" height="100" attr.x="{{item.x-30}}" attr.y="{{item.y-25}}" xlink:href="../assets/img/status/alarm.gif" *ngIf="item.status != 1 && item.status==mapItemStatus.alarm && item.type!==mapItemType[mapItemType.Camera]"><title>{{item.name}}</title></image>
            <image width="100" height="100" attr.x="{{item.x-30}}" attr.y="{{item.y-25}}" xlink:href="../assets/img/status/offline.png" *ngIf="item.status != 1 && item.status==mapItemStatus.offline && item.type!==mapItemType[mapItemType.Camera]"><title>{{item.name}}</title></image>
            <image width="100" height="100" attr.x="{{item.x-30}}" attr.y="{{item.y-25}}" xlink:href="../assets/img/status/unknown.png" *ngIf="item.status != 1 && item.status==mapItemStatus.unknown && item.type!==mapItemType[mapItemType.Camera]"><title>{{item.name}}</title></image>
            <image width="100" height="100" attr.x="{{item.x-30}}" attr.y="{{item.y-25}}" xlink:href="../assets/img/status/trouble.gif" *ngIf="item.status != 1 && item.status==mapItemStatus.trouble && item.type!==mapItemType[mapItemType.Camera]"><title>{{item.name}}</title></image>
          </a>

        </svg>
      </div>
    </div>
  </div>
</div>
