<div class="row">
  <div class="headerMenuIcons">
    <a mat-raised-button class="btn btn-raised btn-info" title="List View" (click)="redirectToSiteListView($event)"> <i class="material-icons icon-white">reorder</i></a>
    <a mat-raised-button class="btn btn-raised btn-info" title="Edit" (click)="redirectToEditSite($event)"> <i class="material-icons icon-white">edit</i></a>
  </div>
</div>
<div id="map" *ngIf="markers">
  <agm-map #gm [latitude]="lat"
           [longitude]="lng"
           [zoom]="zoom"
           [disableDefaultUI]="false"
           [zoomControl]="true"
           (zoomChange)="zoomChange($event)"
           (mapClick)="onMapclick($event)"
           [fullscreenControl]="true">
    <agm-marker *ngFor="let m of markers;"
                (markerClick)="clickedMarker(infowindow)"
                [latitude]="m.lat"
                [longitude]="m.lng"
                [markerDraggable]="false"
                [label]=" m.selectedSite ? m.label : ' '"
                [iconUrl]="
      {
        url: m.selectedSite ? './assets/img/marker_active.png' : './assets/img/marker_inactive.png', labelOrigin:{x:25,y:-5}
      }">
      <agm-info-window #infowindow>
        <h6>
          {{m.label.text}}
          <a title="Go to Dashboard" (click)="redirectToDashboard(m,$event)"> <i class="material-icons">keyboard_arrow_right</i></a>
        </h6>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</div>
