<div class="row">

  <div class="headerMenuIcons">
    <a title="{{ 'floor.edit' | translate }}" (click)="redirectToEdit($event)"> <i class="material-icons icon-white">edit</i></a>
  </div>

  <div class="col-md-12 bottom-space" *ngIf="!isExpandable">
    <div class="section-heading"> <h5> <span> <i class="material-icons"> maps </i> </span>{{ 'floor.floorMapView' | translate }}</h5> </div>
    <div class="left-side-container">
    <app-monitoring-floor-map [mapId]="mapId" (guidChange) ="displayGuid($event)"></app-monitoring-floor-map>
    </div>
  </div>
</div>
<div [ngClass]="isExpandable?'row':'row fixedfooter'">
  <div class="col-md-12">
    <app-monitoring-event [eventsData]="eventsData" (eventExpandableChanged)="eventExpandableChangedHandler($event)"></app-monitoring-event>
  </div>
</div>









