<div class="row">
  <div class="col-md-12 col-xs-12 col-lg-12" *ngIf="siteMapData && buildingStatusList">
    <h4 *ngIf="siteFromDashboard === 'yes'" class="floorName"><b>{{siteMapData.title}} </b></h4>
    <div *ngIf="!disableZoom" [attr.id]="'svgZoomDiv_'+siteMapNumber">
      <svg #svgName xmlns:xlink="http://www.w3.org/1999/xlink" [attr.id]="'svgName_'+siteMapNumber">
        <image attr.x="{{siteMapData.x}}" attr.y="{{siteMapData.y}}" attr.xlink:href="{{siteMapData.image}}" [attr.id]="'imgBackground_'+siteMapNumber" />
        <a class="pointer" *ngFor="let item of buildingStatusList" (click)="on_click(item.siteId,item.buildingId,item.itemGuid)">
          <image width="40" height="40" attr.x="{{item.x}}" attr.y="{{item.y}}" xlink:href="../assets/img/status/home.png"><title>{{item.name}}</title></image>
        </a>

        <a class="pointer" *ngFor="let item of buildingStatusList" (click)="on_clickInfo(item.name,item.status,item.siteId,item.buildingId,item.itemGuid)">
          <image width="100" height="100" attr.x="{{item.x-30}}" attr.y="{{item.y-25}}" xlink:href="../assets/img/status/unknown.png" *ngIf="item.status == mapItemStatus.unknown"><title>{{item.name}}</title></image>
          <image width="100" height="100" attr.x="{{item.x-30}}" attr.y="{{item.y-25}}" xlink:href="../assets/img/status/offline.png" *ngIf="item.status == mapItemStatus.offline"><title>{{item.name}}</title></image>
          <image width="100" height="100" attr.x="{{item.x-30}}" attr.y="{{item.y-25}}" xlink:href="../assets/img/status/trouble.gif" *ngIf="item.status == mapItemStatus.trouble"><title>{{item.name}}</title></image>
          <image width="100" height="100" attr.x="{{item.x-30}}" attr.y="{{item.y-25}}" xlink:href="../assets/img/status/alarm.gif" *ngIf="item.status == mapItemStatus.alarm"><title>{{item.name}}</title></image>
        </a>

      </svg>
    </div>
    <div *ngIf="disableZoom">
      <svg #svgName xmlns:xlink="http://www.w3.org/1999/xlink" [attr.id]="'svgName_'+siteMapNumber">
        <image attr.x="{{siteMapData.x}}" attr.y="{{siteMapData.y}}" attr.xlink:href="{{siteMapData.image}}" [attr.id]="'imgBackground_'+siteMapNumber" />

        <a class="pointer" *ngFor="let item of buildingStatusList" (click)="on_click(item.siteId,item.buildingId,item.itemGuid)">
          <image width="40" height="40" attr.x="{{item.x}}" attr.y="{{item.y}}" xlink:href="../assets/img/status/home.png"><title>{{item.name}}</title></image>
        </a>
        <a class="pointer" *ngFor="let item of buildingStatusList" (click)="on_clickInfo(item.name,item.status,item.siteId,item.buildingId,item.itemGuid)">
          <image width="100" height="100" attr.x="{{item.x-30}}" attr.y="{{item.y-25}}" xlink:href="../assets/img/status/unknown.png" *ngIf="item.status == mapItemStatus.unknown"><title>{{item.name}}</title></image>
          <image width="100" height="100" attr.x="{{item.x-30}}" attr.y="{{item.y-25}}" xlink:href="../assets/img/status/offline.png" *ngIf="item.status == mapItemStatus.offline"><title>{{item.name}}</title></image>
          <image width="100" height="100" attr.x="{{item.x-30}}" attr.y="{{item.y-25}}" xlink:href="../assets/img/status/trouble.gif" *ngIf="item.status == mapItemStatus.trouble"><title>{{item.name}}</title></image>
          <image width="100" height="100" attr.x="{{item.x-30}}" attr.y="{{item.y-25}}" xlink:href="../assets/img/status/alarm.gif" *ngIf="item.status == mapItemStatus.alarm"><title>{{item.name}}</title></image>
          </a>
      </svg>
    </div>
  </div>
</div>
